language: cpp
dist: noble
env: SWIFT_VERSION=6.2.2
vm:
  size: large
jobs:
  - name: coverage
    install:
      - sudo apt update
      - sudo apt install dotnet-sdk-8.0
      - dotnet tool install -g dotnet-coverage
      - curl -Os https://uploader.codecov.io/latest/linux/codecov
      - chmod +x codecov
    script: PATH+=:$HOME/.dotnet/tools make codecov
  - name: c, cl, error
    install:
      - sudo apt update
      - sudo apt install libstdc++-14-dev libclang-rt-18-dev
    script: make -j5 test-c test-cl test-error
  - name: cpp, java
    script: make -j5 test-cpp test-java
  - name: cs
    install:
      - sudo apt update
      - sudo apt install dotnet-sdk-8.0
    script: make -j5 test-cs
  - name: d
    install:
      - curl -fsS https://dlang.org/install.sh -O
      - bash install.sh
    script: source `bash install.sh -a` && make -j5 test-d
  - name: js, ts
    install:
      - nvm install --lts
    script: make -j5 test-js test-ts
  - name: py, swift
    install:
      - pip install mypy
      - wget https://swift.org/builds/swift-$SWIFT_VERSION-release/ubuntu2204/swift-$SWIFT_VERSION-RELEASE/swift-$SWIFT_VERSION-RELEASE-ubuntu22.04.tar.gz
      - tar xf swift-$SWIFT_VERSION-RELEASE-ubuntu22.04.tar.gz -C ..
    script: make -j5 test-py test-swift SWIFTC=../swift-$SWIFT_VERSION-RELEASE-ubuntu22.04/usr/bin/swiftc
  - name: host-diff
    install:
      - sudo apt update
      - sudo apt install dotnet-sdk-8.0
      - nvm install --lts
    script:
      - make -j5 host-diff
      - make -j5 test-error FUT_HOST=cs
      - rm test/bin/*/error.txt
      - make -j5 test-error FUT_HOST=node
  - name: vscode
    install:
      - nvm install --lts
    script:
      - make FUT_HOST=node
      - make -C editors/vscode src/fucheck.js FUT_HOST=node
      - cd editors/vscode && npm i && npx @vscode/vsce package
