Source: fut
Maintainer: Piotr Fusik <piotr@fusion-lang.org>
Section: devel
Priority: optional
Standards-Version: 4.6.0
Build-Depends: debhelper (>= 7), g++-13

Package: fut
Architecture: any
Depends: ${shlibs:Depends}
Description: Transpiles the Fusion programming langauge to
 C, C++, C#, D, Java, JavaScript, Python, Swift, TypeScript and OpenCL C.
